In [6]:
import pandas as pd 
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import json
import os

In [7]:
import glob
import json

files = glob.glob('data/*.json')

combined_data = []
for filename in files:
    with open(filename, 'r', encoding='utf-8') as file:
        data = json.load(file)
        combined_data.append(data)

with open('result.json', 'w', encoding='utf-8') as outfile:
    json.dump(combined_data, outfile, indent=4)

KeyboardInterrupt:

In [ ]:
# read the data
data = json.load(open('result.json', encoding='utf8'))

df = pd.DataFrame(data)
df.info()

FileNotFoundError: [Errno 2] No such file or directory: 'result.json'

In [ ]:
df.head()

,artifact_name,Object Type,Museum number,Description,Production date,Production place,Excavator/field collector,Findspot,Materials,Technique,...,Banknote serial number,Associated ethnic name,Production ethnic group,Ware,BM/Big number,Inscription subject,Associated objects,School/style,Joined objects,Escapement
0,ear-ring; bead,"[ ear-ring , bead ]",[1880.3687.m],[ Copper alloy ear-ring of thin wire with a lo...,[1stC-3rdC (?)],[ Made in: Afghanistan ],[Field Collection by: Charles Masson],[ Found/Acquired: Begram ],[copper alloy],"[ cast , pierced , twisted (wire) ]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,hair-pin; dress-pin,"[ hair-pin , dress-pin ]",[1880.3711.o],[ Copper alloy ornamental hair- or dress-pin h...,[ 1stC BC-early 1stC (circa) ],[ Made in: Afghanistan ],NaN,[ Found/Acquired: Begram ],[copper alloy],[cast],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,hair-pin; dress-pin,"[ hair-pin , dress-pin ]",[1880.3711.o],[ Copper alloy ornamental hair- or dress-pin h...,[1stC BC-early 1stC (circa)],[ Made in: Afghanistan ],[Field Collection by: Charles Masson],[ Found/Acquired: Begram ],[copper alloy],[cast],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,hair-pin; dress-pin,"[ hair-pin , dress-pin ]",[1880.3711.o],[ Copper alloy ornamental hair- or dress-pin h...,[1stC BC-early 1stC (circa)],[ Made in: Afghanistan ],[Field Collection by: Charles Masson],[ Found/Acquired: Begram ],[copper alloy],[cast],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ear-ring,[ear-ring],[1880.3717.f],"[ Cast, copper alloy hoop ear-ring bound with ...",[1stC-3rdC (circa)],[ Made in: Afghanistan ],[Field Collection by: Charles Masson],[ Found/Acquired: Begram ],[copper alloy],[cast],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df["Production date"].isna().sum()

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56835 entries, 0 to 56834
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   artifact_name                56835 non-null  object
 1   Object Type                  56834 non-null  object
 2   Museum number                48571 non-null  object
 3   Description                  56835 non-null  object
 4   Production date              33654 non-null  object
 5   Production place             28224 non-null  object
 6   Excavator/field collector    18024 non-null  object
 7   Findspot                     45990 non-null  object
 8   Materials                    56076 non-null  object
 9   Technique                    32681 non-null  object
 10  Dimensions                   55189 non-null  object
 11  Curator's comments           30119 non-null  object
 12  Bibliographic references     39284 non-null  object
 13  Location                     56293 non-null  object
 14  Acquisition name             39854 non-null  object
 15  Acquisition date             41822 non-null  object
 16  Acquisition notes            5785 non-null   object
 17  Department                   56835 non-null  object
 18  Registration number          48571 non-null  object
 19  Additional IDs               20567 non-null  object
 20   Excavator/field collector   3 non-null      object
 21  Subjects                     12669 non-null  object
 22  Authority                    7263 non-null   object
 23  $Inscriptions                22306 non-null  object
 24  Cultures/periods             50528 non-null  object
 25  Title                        1403 non-null   object
 26  Producer name                3864 non-null   object
 27  Exhibition history           3317 non-null   object
 28  Associated places            2213 non-null   object
 29  Funder name                  368 non-null    object
 30  Conservation                 7730 non-null   object
 31  Condition                    24830 non-null  object
 32  Associated names             12319 non-null  object
 33  Associated events            204 non-null    object
 34  Associated titles            1970 non-null   object
 35  C&M catalogue number         5140 non-null   object
 36  State                        5015 non-null   object
 37  Regnal date                  516 non-null    object
 38  Denomination                 1021 non-null   object
 39  Previous owner               4971 non-null   object
 40  Type series                  2538 non-null   object
 41  Banknote serial number       3 non-null      object
 42  Associated ethnic name       38 non-null     object
 43  Production ethnic group      165 non-null    object
 44  Ware                         4078 non-null   object
 45  BM/Big number                24478 non-null  object
 46  Inscription subject          5452 non-null   object
 47  Associated objects           52 non-null     object
 48  School/style                 4724 non-null   object
 49  Joined objects               555 non-null    object
 50  Escapement                   3 non-null      object
dtypes: object(51)
memory usage: 22.1+ MB

In [53]:
df.isna().sum()

artifact_name                      0
Object Type                        1
Museum number                   8264
Description                        0
Production date                23181
Production place               28611
Excavator/field collector      38811
Findspot                       10845
Materials                        759
Technique                      24154
Dimensions                      1646
Curator's comments             26716
Bibliographic references       17551
Location                         542
Acquisition name               16981
Acquisition date               15013
Acquisition notes              51050
Department                         0
Registration number             8264
Additional IDs                 36268
 Excavator/field collector     56832
Subjects                       44166
Authority                      49572
$Inscriptions                  34529
Cultures/periods                6307
Title                          55432
Producer name                  52971
Exhibition history             53518
Associated places              54622
Funder name                    56467
Conservation                   49105
Condition                      32005
Associated names               44516
Associated events              56631
Associated titles              54865
C&M catalogue number           51695
State                          51820
Regnal date                    56319
Denomination                   55814
Previous owner                 51864
Type series                    54297
Banknote serial number         56832
Associated ethnic name         56797
Production ethnic group        56670
Ware                           52757
BM/Big number                  32357
Inscription subject            51383
Associated objects             56783
School/style                   52111
Joined objects                 56280
Escapement                     56832
dtype: int64

In [54]:
mask = df.isna().sum() / len(df)  < 0.4
mask

artifact_name                   True
Object Type                     True
Museum number                   True
Description                     True
Production date                False
Production place               False
Excavator/field collector      False
Findspot                        True
Materials                       True
Technique                      False
Dimensions                      True
Curator's comments             False
Bibliographic references        True
Location                        True
Acquisition name                True
Acquisition date                True
Acquisition notes              False
Department                      True
Registration number             True
Additional IDs                 False
 Excavator/field collector     False
Subjects                       False
Authority                      False
$Inscriptions                  False
Cultures/periods                True
Title                          False
Producer name                  False
Exhibition history             False
Associated places              False
Funder name                    False
Conservation                   False
Condition                      False
Associated names               False
Associated events              False
Associated titles              False
C&M catalogue number           False
State                          False
Regnal date                    False
Denomination                   False
Previous owner                 False
Type series                    False
Banknote serial number         False
Associated ethnic name         False
Production ethnic group        False
Ware                           False
BM/Big number                  False
Inscription subject            False
Associated objects             False
School/style                   False
Joined objects                 False
Escapement                     False
dtype: bool

In [55]:
reduced_df = df.loc[:, mask]
reduced_df.drop(['Museum number', 'Bibliographic references', 'Object Type'], axis=1, inplace=True)
reduced_df.tail()

C:\Users\donia\AppData\Local\Temp\ipykernel_21332\3808719352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df.drop(['Museum number', 'Bibliographic references', 'Object Type'], axis=1, inplace=True)

,artifact_name,Description,Findspot,Materials,Dimensions,Location,Acquisition name,Acquisition date,Department,Registration number,Cultures/periods
56830,papyrus,[ Papyrus Harris; column 75; Discourse to Mank...,[ Excavated/Findspot: Thebes (historic - Upper...,[papyrus],"[ Height: 45.80 centimetres (frame) , Length:...",[Not on display],[Purchased from: Miss Selima Harris],[1872],[Egypt and Sudan],"[1872,1101.1.75]",[20th Dynasty]
56831,papyrus,[ Papyrus Harris; column 76; Discourse to Mank...,[ Excavated/Findspot: Thebes (historic - Upper...,[papyrus],"[ Height: 45.80 centimetres (frame) , Length:...",[Not on display],[Purchased from: Miss Selima Harris],[1872],[Egypt and Sudan],"[1872,1101.1.76]",[20th Dynasty]
56832,papyrus,[ Papyrus Harris; column 77; Discourse to Mank...,[ Excavated/Findspot: Thebes (historic - Upper...,[papyrus],"[ Height: 45.80 centimetres (frame) , Length:...",[Not on display],[Purchased from: Miss Selima Harris],[1872],[Egypt and Sudan],"[1872,1101.1.77]",[20th Dynasty]
56833,papyrus,[ Papyrus Harris; column 78; Discourse to Mank...,[ Excavated/Findspot: Thebes (historic - Upper...,[papyrus],"[ Height: 45.80 centimetres (frame) , Length:...",[Not on display],[Purchased from: Miss Selima Harris],[1872],[Egypt and Sudan],"[1872,1101.1.78]",[20th Dynasty]
56834,papyrus,[ Papyrus Harris; column 79; Discourse to Mank...,[ Excavated/Findspot: Thebes (historic - Upper...,[papyrus],NaN,[Not on display],[Purchased from: Miss Selima Harris],[1872],[Egypt and Sudan],"[1872,1101.1.79]",[20th Dynasty]

In [56]:
reduced_df['Description_ex'] = reduced_df['Description'].str[0]
reduced_df['Materials_ex'] = reduced_df['Materials'].str[0]
# should I remove Object Type since it is redundant with artifact name?
reduced_df['Findspot_ex'] = reduced_df['Findspot'].str[0]
reduced_df['Dimensions_1'] = reduced_df['Dimensions'].str[0]
reduced_df['Dimensions_2'] = reduced_df['Dimensions'].str[1]
reduced_df['Location_ex'] = reduced_df['Location'].str[0]
reduced_df['Acquisition_name_ex'] = reduced_df['Acquisition name'].str[0]
reduced_df['Acquisition_date_ex'] = reduced_df['Acquisition date'].str[0]
reduced_df['Department_ex'] = reduced_df['Department'].str[0]
reduced_df['Cultures/periods_ex'] = reduced_df['Cultures/periods'].str[0]

to_drop = ['Description', 'Materials', 'Findspot', 'Dimensions', 'Location', 'Acquisition name', 'Acquisition date', 'Department', 'Registration number', 'Cultures/periods']

C:\Users\donia\AppData\Local\Temp\ipykernel_21332\1961118990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['Description_ex'] = reduced_df['Description'].str[0]
C:\Users\donia\AppData\Local\Temp\ipykernel_21332\1961118990.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['Materials_ex'] = reduced_df['Materials'].str[0]
C:\Users\donia\AppData\Local\Temp\ipykernel_21332\1961118990.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['Findspot_ex'] = reduced_df['Findspot'].str[0]
C:\Users\donia\AppData\Local\Temp\ipykernel_21332\1961118990.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['Dimensions_1'] = reduced_df['Dimensions'].str[0]
C:\Users\donia\AppData\Local\Temp\ipykernel_21332\1961118990.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['Dimensions_2'] = reduced_df['Dimensions'].str[1]
C:\Users\donia\AppData\Local\Temp\ipykernel_21332\1961118990.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['Location_ex'] = reduced_df['Location'].str[0]
C:\Users\donia\AppData\Local\Temp\ipykernel_21332\1961118990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['Acquisition_name_ex'] = reduced_df['Acquisition name'].str[0]
C:\Users\donia\AppData\Local\Temp\ipykernel_21332\1961118990.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['Acquisition_date_ex'] = reduced_df['Acquisition date'].str[0]
C:\Users\donia\AppData\Local\Temp\ipykernel_21332\1961118990.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['Department_ex'] = reduced_df['Department'].str[0]
C:\Users\donia\AppData\Local\Temp\ipykernel_21332\1961118990.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['Cultures/periods_ex'] = reduced_df['Cultures/periods'].str[0]

In [57]:
reduced_df.drop(to_drop, axis=1, inplace=True)
reduced_df.head()

C:\Users\donia\AppData\Local\Temp\ipykernel_21332\2196215600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df.drop(to_drop, axis=1, inplace=True)

,artifact_name,Description_ex,Materials_ex,Findspot_ex,Dimensions_1,Dimensions_2,Location_ex,Acquisition_name_ex,Acquisition_date_ex,Department_ex,Cultures/periods_ex
0,ear-ring; bead,Copper alloy ear-ring of thin wire with a loo...,copper alloy,Found/Acquired: Begram,Diameter: 5 millimetres (beads),Length: 18 millimetres (circa),Not on display,Transferred from: India Museum,1880,Asia,NaN
1,hair-pin; dress-pin,Copper alloy ornamental hair- or dress-pin he...,copper alloy,Found/Acquired: Begram,Length: 35 millimetres,Width: 10 millimetres,Not on display,Transferred from: India Museum,1880,Asia,NaN
2,hair-pin; dress-pin,Copper alloy ornamental hair- or dress-pin he...,copper alloy,Found/Acquired: Begram,Length: 35 millimetres,Width: 10 millimetres,Not on display,Transferred from: India Museum,1880,Asia,NaN
3,hair-pin; dress-pin,Copper alloy ornamental hair- or dress-pin he...,copper alloy,Found/Acquired: Begram,Length: 35 millimetres,Width: 10 millimetres,Not on display,Transferred from: India Museum,1880,Asia,NaN
4,ear-ring,"Cast, copper alloy hoop ear-ring bound with t...",copper alloy,Found/Acquired: Begram,Diameter: 12 millimetres,Thickness: 1.50 millimetres (shaft),Not on display,Transferred from: India Museum,1880,Asia,NaN

In [58]:
reduced_df.isna().sum()

artifact_name              0
Description_ex             0
Materials_ex             759
Findspot_ex            10845
Dimensions_1            1646
Dimensions_2           10901
Location_ex              542
Acquisition_name_ex    16981
Acquisition_date_ex    15013
Department_ex              0
Cultures/periods_ex     6307
dtype: int64

In [59]:
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56835 entries, 0 to 56834
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   artifact_name        56835 non-null  object
 1   Description_ex       56835 non-null  object
 2   Materials_ex         56076 non-null  object
 3   Findspot_ex          45990 non-null  object
 4   Dimensions_1         55189 non-null  object
 5   Dimensions_2         45934 non-null  object
 6   Location_ex          56293 non-null  object
 7   Acquisition_name_ex  39854 non-null  object
 8   Acquisition_date_ex  41822 non-null  object
 9   Department_ex        56835 non-null  object
 10  Cultures/periods_ex  50528 non-null  object
dtypes: object(11)
memory usage: 4.8+ MB

In [63]:
# Define the source folder that contains the images
source_folder = "photo"

# Get the list of image filenames
image_filenames = os.listdir(source_folder)

# Create a new column in the dataframe with the image paths
reduced_df["image_path"] = reduced_df.apply(lambda row: os.path.join(source_folder, image_filenames[row.name]), axis=1)

# Print the first five rows of the dataframe
reduced_df.tail()

C:\Users\donia\AppData\Local\Temp\ipykernel_21332\3680120024.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df["image_path"] = reduced_df.apply(lambda row: os.path.join(source_folder, image_filenames[row.name]), axis=1)

,artifact_name,Description_ex,Materials_ex,Findspot_ex,Dimensions_1,Dimensions_2,Location_ex,Acquisition_name_ex,Acquisition_date_ex,Department_ex,Cultures/periods_ex,image_path
56830,papyrus,Papyrus Harris; column 75; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.90 centimetres (frame),Not on display,Purchased from: Miss Selima Harris,1872,Egypt and Sudan,20th Dynasty,photo\Y_EA9999-62.jpg
56831,papyrus,Papyrus Harris; column 76; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.70 centimetres (frame),Not on display,Purchased from: Miss Selima Harris,1872,Egypt and Sudan,20th Dynasty,photo\Y_EA9999-75.jpg
56832,papyrus,Papyrus Harris; column 77; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.70 centimetres (frame),Not on display,Purchased from: Miss Selima Harris,1872,Egypt and Sudan,20th Dynasty,photo\Y_EA9999-76.jpg
56833,papyrus,Papyrus Harris; column 78; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.70 centimetres (frame),Not on display,Purchased from: Miss Selima Harris,1872,Egypt and Sudan,20th Dynasty,photo\Y_EA9999-77.jpg
56834,papyrus,Papyrus Harris; column 79; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,NaN,NaN,Not on display,Purchased from: Miss Selima Harris,1872,Egypt and Sudan,20th Dynasty,photo\Y_EA9999-78.jpg

In [65]:
len(image_filenames)

56836

In [64]:
reduced_df

,artifact_name,Description_ex,Materials_ex,Findspot_ex,Dimensions_1,Dimensions_2,Location_ex,Acquisition_name_ex,Acquisition_date_ex,Department_ex,Cultures/periods_ex,image_path
0,ear-ring; bead,Copper alloy ear-ring of thin wire with a loo...,copper alloy,Found/Acquired: Begram,Diameter: 5 millimetres (beads),Length: 18 millimetres (circa),Not on display,Transferred from: India Museum,1880,Asia,NaN,photo\A_1880-3687-m.jpg
1,hair-pin; dress-pin,Copper alloy ornamental hair- or dress-pin he...,copper alloy,Found/Acquired: Begram,Length: 35 millimetres,Width: 10 millimetres,Not on display,Transferred from: India Museum,1880,Asia,NaN,photo\A_1880-3711-o.jpg
2,hair-pin; dress-pin,Copper alloy ornamental hair- or dress-pin he...,copper alloy,Found/Acquired: Begram,Length: 35 millimetres,Width: 10 millimetres,Not on display,Transferred from: India Museum,1880,Asia,NaN,photo\A_1880-3714-a.jpg
3,hair-pin; dress-pin,Copper alloy ornamental hair- or dress-pin he...,copper alloy,Found/Acquired: Begram,Length: 35 millimetres,Width: 10 millimetres,Not on display,Transferred from: India Museum,1880,Asia,NaN,photo\A_1880-3717-f.jpg
4,ear-ring,"Cast, copper alloy hoop ear-ring bound with t...",copper alloy,Found/Acquired: Begram,Diameter: 12 millimetres,Thickness: 1.50 millimetres (shaft),Not on display,Transferred from: India Museum,1880,Asia,NaN,photo\A_1880-3960.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...
56830,papyrus,Papyrus Harris; column 75; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.90 centimetres (frame),Not on display,Purchased from: Miss Selima Harris,1872,Egypt and Sudan,20th Dynasty,photo\Y_EA9999-62.jpg
56831,papyrus,Papyrus Harris; column 76; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.70 centimetres (frame),Not on display,Purchased from: Miss Selima Harris,1872,Egypt and Sudan,20th Dynasty,photo\Y_EA9999-75.jpg
56832,papyrus,Papyrus Harris; column 77; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.70 centimetres (frame),Not on display,Purchased from: Miss Selima Harris,1872,Egypt and Sudan,20th Dynasty,photo\Y_EA9999-76.jpg
56833,papyrus,Papyrus Harris; column 78; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.70 centimetres (frame),Not on display,Purchased from: Miss Selima Harris,1872,Egypt and Sudan,20th Dynasty,photo\Y_EA9999-77.jpg
56834,papyrus,Papyrus Harris; column 79; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,NaN,NaN,Not on display,Purchased from: Miss Selima Harris,1872,Egypt and Sudan,20th Dynasty,photo\Y_EA9999-78.jpg