In [1]:
import pandas as pd 
import numpy as np
import seaborn as sn
import matplotlib.pyplot as pl
import scipy as sp

In [31]:
import json
import pandas as pd
data = json.load(open('data.json',encoding="utf8"))

df= pd.DataFrame(data['PageResult']['Items'])[['Id','Title','AdditionalInfo', 'ImageId']]

In [36]:
df

,Id,Title,AdditionalInfo,ImageId
0,3,RC-1 - Sekhmet Statue,Sekhmet was the lion-headed goddess of warfare...,789
1,4,RC-2 - Harpocrates,Seated with His Right Forefinger Pointing To H...,931
2,5,RC-3 - Osiris,Holding Crook and Flail,365
3,6,RC-4 - Khonsu,Black,774
4,7,RC-5 - Apis Bull,H-12.2,913
...,...,...,...,...
819,5460,RC-297 - Ptah,H-15.9,221
820,5548,RC-251 - Rameses Ii Cartouche Fragment,Pinkish-Red/ Black/ Brown/ Red/ Dk Brown/ Off ...,64
821,5550,RC-1727 - False Door with Ibis,Grey/ Light Brown/ Dark Brown/ White<br /><br ...,536
822,5560,RC-5187 - Scarab,Green Faience.,863
823,5565,RC-5195 - Wedjat Eye,Yellow faience glazed wedjat eye. Brown brow ...,337

In [171]:
metadata = json.load(open('data/443.json',encoding="utf8"))

In [172]:
metadata['Title']

'RC-478 - Plaque'

In [173]:
metadata['Item']['CatalogItemArt']['Culture']['Title']

'Mesopotamian'

In [174]:
metadata['Item']['CatalogItemHistory']['CatalogItemHistoryMaterials'][0]['DictionaryItem']['Title']

'Terracotta'

In [179]:
metadata['Item']['CatalogItemTags'][0]['DictionaryItem']['Title']

IndexError: list index out of range

In [129]:
metadata['Item']['CreationDate']

'525 - 343 BCE'

In [130]:
print(metadata['Item']['CustomFields'][0]['Metadata']['Name'])
print(metadata['Item']['CustomFields'][0]['StringValue'])

Period
Late Period

In [143]:
new_data = {"Title":[], "Culture":[],"Date":[],"Period":[],"Material":[],"object_Type":[]}

In [223]:
new_data = {"Title":[], "Culture":[],"Date":[],"Period":[],"Material":[],"object_Type":[]}
for index, row in df.iterrows():
    metadata = json.load(open(f'data/{row.Id}.json',encoding="utf8"))
    
    
    new_data['Title'].append(metadata['Title'])
    
    if metadata['Item']['CatalogItemArt']['Culture'] == None:
        new_data['Culture'].append(None)
    else:
        new_data['Culture'].append(metadata['Item']['CatalogItemArt']['Culture']['Title'])
        
    new_data['Date'].append(metadata['Item']['CreationDate'])
    if metadata['Item']['CatalogItemHistory']['CatalogItemHistoryMaterials'] == []:
         new_data['Material'].append(None)
    else: 
        new_data['Material'].append(metadata['Item']['CatalogItemHistory']['CatalogItemHistoryMaterials'][0]['DictionaryItem']['Title'])
        
    new_data['Period'].append(metadata['Item']['CustomFields'][0]['StringValue'])
    if metadata['Item']['CatalogItemTags'] ==[]:
        new_data['object_Type'].append(None)
    else:
        new_data['object_Type'].append(metadata['Item']['CatalogItemTags'][0]['DictionaryItem']['Title'])

In [224]:
len(new_data['Culture'])

824

In [230]:
new_data=pd.DataFrame(new_data)
new_data.head()

,Title,Culture,Date,Period,Material,object_Type
0,RC-1 - Sekhmet Statue,Egyptian,332-30 BCE,Ptolemaic,Bronze,Sculpture
1,RC-2 - Harpocrates,Egyptian,305 - 30 BCE,Ptolemaic,Bronze,Sculpture
2,RC-3 - Osiris,Egyptian,332 - 31 BCE,Ptolemaic,Bronze,Sculpture
3,RC-4 - Khonsu,Egyptian,332 - 30 BCE,Ptolemaic,Bronze,Sculpture
4,RC-5 - Apis Bull,Egyptian,525 - 343 BCE,Late Period,Bronze,Sculpture

In [238]:
new_data['Culture'].value_counts()

Culture
Egyptian        733
Mesopotamian     77
Oriental          3
Greek             1
Name: count, dtype: int64