## Combine all Musems & Normalizing

In [2519]:
import pandas as pd 
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import os
import json

In [2520]:
df_british = pd.read_csv('British_result.csv') 
df_global = pd.read_csv('combined_Global.csv')
df_met = pd.read_csv('combined_Met.csv')
df_rosi = pd.read_csv('combined_Rosi.csv')

## Which columns to leave ?

`The common are & to normalize âœ¨ðŸŒ¿`
1. Object_classification
2. material
3. path
4. date
5. location 
6. description
7. period
8. dynasty
9. Name

In [2521]:
def adjust_image_path(cellvalue, cat_museum):
    file_name = cellvalue.split('\\')[-1]
    file_name = file_name.split('.')[-2]
    new_name = f"{cat_museum}_{file_name}.jpg"
    return new_name

### British Museum

In [2522]:
df_british.columns

Index(['Unnamed: 0', 'artifact_name', 'Object Type', 'Production date',
       'Production place', 'Technique', 'Condition', 'Description_ex',
       'Materials_ex', 'Findspot_ex', 'Dimensions_1', 'Dimensions_2',
       'Department_ex', 'Cultures/periods_ex', 'image_path'],
      dtype='object')

In [2523]:
df_british

,Unnamed: 0,artifact_name,Object Type,Production date,Production place,Technique,Condition,Description_ex,Materials_ex,Findspot_ex,Dimensions_1,Dimensions_2,Department_ex,Cultures/periods_ex,image_path
0,0,ear-ring; bead,"[' ear-ring ', ' bead ']",1stC-3rdC (?),Made in: Afghanistan,"[' cast ', ' pierced ', ' twisted (wire) ']",NaN,Copper alloy ear-ring of thin wire with a loo...,copper alloy,Found/Acquired: Begram,Diameter: 5 millimetres (beads),Length: 18 millimetres (circa),Asia,NaN,bri_A_1880-3687-m.jpg
1,1,hair-pin; dress-pin,"[' hair-pin ', ' dress-pin ']",1stC BC-early 1stC (circa),Made in: Afghanistan,['cast'],NaN,Copper alloy ornamental hair- or dress-pin he...,copper alloy,Found/Acquired: Begram,Length: 35 millimetres,Width: 10 millimetres,Asia,NaN,bri_A_1880-3711-o.jpg
2,2,hair-pin; dress-pin,"[' hair-pin ', ' dress-pin ']",1stC BC-early 1stC (circa),Made in: Afghanistan,['cast'],NaN,Copper alloy ornamental hair- or dress-pin he...,copper alloy,Found/Acquired: Begram,Length: 35 millimetres,Width: 10 millimetres,Asia,NaN,bri_A_1880-3714-a.jpg
3,3,hair-pin; dress-pin,"[' hair-pin ', ' dress-pin ']",1stC BC-early 1stC (circa),Made in: Afghanistan,['cast'],NaN,Copper alloy ornamental hair- or dress-pin he...,copper alloy,Found/Acquired: Begram,Length: 35 millimetres,Width: 10 millimetres,Asia,NaN,bri_A_1880-3717-f.jpg
4,4,ear-ring,['ear-ring'],1stC-3rdC (circa),Made in: Afghanistan,['cast'],NaN,"Cast, copper alloy hoop ear-ring bound with t...",copper alloy,Found/Acquired: Begram,Diameter: 12 millimetres,Thickness: 1.50 millimetres (shaft),Asia,NaN,bri_A_1880-3960.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56830,56830,papyrus,['papyrus'],NaN,NaN,NaN,['Papyrus Survey: Condition Details: Papyrus: ...,Papyrus Harris; column 75; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.90 centimetres (frame),Egypt and Sudan,20th Dynasty,bri_Y_EA9999-62.jpg
56831,56831,papyrus,['papyrus'],NaN,NaN,NaN,['Papyrus Survey: Condition Details: Papyrus: ...,Papyrus Harris; column 76; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.70 centimetres (frame),Egypt and Sudan,20th Dynasty,bri_Y_EA9999-75.jpg
56832,56832,papyrus,['papyrus'],NaN,NaN,NaN,['Papyrus Survey: Condition Details: Papyrus: ...,Papyrus Harris; column 77; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.70 centimetres (frame),Egypt and Sudan,20th Dynasty,bri_Y_EA9999-76.jpg
56833,56833,papyrus,['papyrus'],NaN,NaN,NaN,['Papyrus Survey: Condition Details: Papyrus: ...,Papyrus Harris; column 78; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,Height: 45.80 centimetres (frame),Length: 58.70 centimetres (frame),Egypt and Sudan,20th Dynasty,bri_Y_EA9999-77.jpg
56834,56834,papyrus,['papyrus'],NaN,NaN,NaN,['Papyrus Survey: Condition Details: Papyrus: ...,Papyrus Harris; column 79; Discourse to Manki...,papyrus,Excavated/Findspot: Thebes (historic - Upper ...,NaN,NaN,Egypt and Sudan,20th Dynasty,bri_Y_EA9999-78.jpg

In [2524]:
df_british["Department_ex"].unique()

array(['Asia', 'Coins and Medals', 'Africa, Oceania and the Americas',
       'Greek and Roman', 'Britain, Europe and Prehistory',
       'Prints and Drawings', 'Middle East', 'External',
       'Egypt and Sudan'], dtype=object)

In [2525]:
df_british= df_british[df_british["Department_ex"] == 'Egypt and Sudan'] # filtered to only have egypt pieces

In [2526]:
df_british = df_british.drop(columns=["Unnamed: 0","Findspot_ex", "Dimensions_1", "Dimensions_2", "Department_ex","Condition", "Production place", "Technique",  ])

In [2527]:
df_british = df_british.rename(columns={"Production date":"date",'Object Type': 'object_classification', 'Materials_ex':'material', 'image_path':'path', 'Cultures/periods_ex': 'dynasty', 'Description_ex':'description', "artifact_name":"name"})

In [2528]:
# df_british['date'] = None
df_british['location'] = None # the location in this data is just the place "Egypt"
df_british['period'] = None

In [2529]:

other_cols= list(df_british.columns.difference(["path"]))

In [2530]:
df_british

,name,object_classification,date,description,material,dynasty,path,location,period
33627,statue,['statue'],NaN,Red granite statue of recumbent lion: the ins...,red granite,18th Dynasty (sculpture),bri_X__999.jpg,None,None
33628,sarcophagus; bath-tub(re-use); religious/ritua...,"[' sarcophagus ', ' bath-tub (re-use) ', ' rel...",345BC (circa),Conglomerate sarcophagus of Nectanebo II (Nak...,conglomerate,30th Dynasty,bri_Y_EA1.jpg,None,None
33629,papyrus,['papyrus'],NaN,"Papyrus, Book of the Dead for unnamed person,...",papyrus,Third Intermediate,bri_Y_EA10.jpg,None,None
33630,papyrus,['papyrus'],NaN,"Papyrus, Book of the Dead for unnamed person,...",papyrus,Third Intermediate,bri_Y_EA10000-1.jpg,None,None
33631,papyrus,['papyrus'],NaN,"Papyrus from the Book of the Dead of Tameniu,...",papyrus,Third Intermediate,bri_Y_EA10000-2.jpg,None,None
...,...,...,...,...,...,...,...,...,...
56830,papyrus,['papyrus'],NaN,Papyrus Harris; column 75; Discourse to Manki...,papyrus,20th Dynasty,bri_Y_EA9999-62.jpg,None,None
56831,papyrus,['papyrus'],NaN,Papyrus Harris; column 76; Discourse to Manki...,papyrus,20th Dynasty,bri_Y_EA9999-75.jpg,None,None
56832,papyrus,['papyrus'],NaN,Papyrus Harris; column 77; Discourse to Manki...,papyrus,20th Dynasty,bri_Y_EA9999-76.jpg,None,None
56833,papyrus,['papyrus'],NaN,Papyrus Harris; column 78; Discourse to Manki...,papyrus,20th Dynasty,bri_Y_EA9999-77.jpg,None,None
56834,papyrus,['papyrus'],NaN,Papyrus Harris; column 79; Discourse to Manki...,papyrus,20th Dynasty,bri_Y_EA9999-78.jpg,None,None

### Global Museum

In [2531]:
df_global.columns

Index(['Unnamed: 0', 'Archaeological Site', 'Category', 'Material', 'Dating',
       'Description', 'Path', 'Name'],
      dtype='object')

In [2532]:
df_global = df_global.drop(columns=['Unnamed: 0'])

In [2533]:
df_global ['Path'] = df_global ['Path'].apply(lambda cellvalue: adjust_image_path(cellvalue, "glo"))
df_global .head(5)

,Archaeological Site,Category,Material,Dating,Description,Path,Name
0,el-faiyum,relief,limestone,roman period,several late period texts mention a lion god n...,glo_1.jpg,tithoes
1,unknown,coptic textile,wool,byzantine period,"this piece of fabric is a so-called ""taquetÃ£Â©'...",glo_10.jpg,fragment of wedge shape
2,governorate of faiyum,basket,rush,graeco-roman period,this basket comes from the excavations of b. g...,glo_100.jpg,basket with lid
3,abydos,palette,greywacke,early dynastic period,this fragment of a rectangular palette diagram...,glo_1000.jpg,fragment of rectangular palette
4,thebes: west bank,finger ring,bronze,unknown,NaN,glo_10000.jpg,NaN

In [2534]:
df_global = df_global.rename(columns={'Archaeological Site':'location', 'Category': 'object_classification','Material': 'material', 'Dating': 'period','Description':'description', "Name":'name',"Path":'path'})

In [2535]:
df_global["date"] = None
df_global["dynasty"] = None

In [2536]:
df_global

,location,object_classification,material,period,description,path,name,date,dynasty
0,el-faiyum,relief,limestone,roman period,several late period texts mention a lion god n...,glo_1.jpg,tithoes,None,None
1,unknown,coptic textile,wool,byzantine period,"this piece of fabric is a so-called ""taquetÃ£Â©'...",glo_10.jpg,fragment of wedge shape,None,None
2,governorate of faiyum,basket,rush,graeco-roman period,this basket comes from the excavations of b. g...,glo_100.jpg,basket with lid,None,None
3,abydos,palette,greywacke,early dynastic period,this fragment of a rectangular palette diagram...,glo_1000.jpg,fragment of rectangular palette,None,None
4,thebes: west bank,finger ring,bronze,unknown,NaN,glo_10000.jpg,NaN,None,None
...,...,...,...,...,...,...,...,...,...
15904,unknown,amulet,faience,unknown,NaN,glo_9995.jpg,NaN,None,None
15905,thebes: west bank,necklace,shell,unknown,NaN,glo_9996.jpg,NaN,None,None
15906,unknown,necklace,faience,unknown,NaN,glo_9997.jpg,NaN,None,None
15907,unknown,necklace,faience,unknown,NaN,glo_9998.jpg,NaN,None,None
15908,unknown,figurine,bronze,late period,NaN,glo_9999.jpg,NaN,None,None

In [2537]:
type(df_global["description"][15904])

float

### Met Museum

In [2538]:
df_met.columns

Index(['Unnamed: 0', 'title', 'city', 'Path', 'locus', 'subregion', 'reign',
       'period', 'region', 'dynasty', 'objectName', 'medium', 'classification',
       'objectDate'],
      dtype='object')

In [2539]:
df_met = df_met.drop(columns=['Unnamed: 0',"locus"])

In [2540]:
df_met['Path'] = df_met['Path'].apply(lambda cellvalue: adjust_image_path(cellvalue, "met"))
df_met.head(5)

,title,city,Path,subregion,reign,period,region,dynasty,objectName,medium,classification,objectDate
0,Bastet holding aegis and basket,unknown,met_329767.jpg,unknown,unknown,Late Period -Ptolemaic Period,unknown,Dynasty 26 or later,"Bastet, standing, aegis, basket",Cupreous metal,unknown,664-30 B.C.
1,Upper half of a woman from a pair or group statue,unknown,met_329768.jpg,unknown,unknown,Late Middle Kingdom,unknown,Late Dynasty 12-13,Upper half of a woman from a pair or group statue,Granite,unknown,ca. 1850-1650 B.C.
2,Head from a figure of Osiris,unknown,met_329769.jpg,unknown,unknown,Late Period,unknown,Dynasty 26,Head from a figure of Osiris,Graywacke,unknown,ca. 664-525 B.C.
3,Figure of Osiris,unknown,met_329771.jpg,unknown,unknown,Late Period-Ptolemaic Period,unknown,unknown,"figure, Osiris",Cupreous metal,unknown,664-30 B.C.
4,Head and chest of a shabti figure,unknown,met_329774.jpg,unknown,unknown,Middle Kingdom,unknown,late Dynasty 12 to Dynasty 13,Head and chest of a shabti figure,Steatite or serpentinite,unknown,ca. 1850-1650 B.C.

In [2541]:
df_met["dynasty"].value_counts()

dynasty
unknown                             5410
Dynasty 18                          2997
Dynasty 12-13                        922
Dynasty 21                           781
Dynasty 12                           722
                                    ...
Dynasty 12,mid-Dynasty 13              1
Dynasty 11-early 18                    1
late Dynasty 17-early Dynasty 18       1
Dynasty 15-16                          1
18                                     1
Name: count, Length: 270, dtype: int64

In [2542]:
df_met['object_classification'] = df_met['objectName'].str.split(',')
df_met = df_met.drop(columns=["objectName"])
df_met['location'] = df_met.apply(lambda row: [v for v in [row['city'], row['subregion'], row['region']] if pd.notna(v) and v != "unknown"], axis=1)
df_met = df_met.drop(columns=['city', 'subregion' ,'region','classification'])
df_met['period'] = df_met.apply(lambda row: [v for v in [row['reign'], row['period']] if pd.notna(v) and v != "unknown"], axis=1)
df_met = df_met.drop(columns=['reign'])
df_met["name"] = df_met["title"]

In [2543]:
df_met= df_met.rename(columns={'title': 'description',  'Path':'path', 'objectDate':'date', 'medium':'material'})

In [2544]:
df_met

,description,path,period,dynasty,material,date,object_classification,location,name
0,Bastet holding aegis and basket,met_329767.jpg,[Late Period -Ptolemaic Period],Dynasty 26 or later,Cupreous metal,664-30 B.C.,"[Bastet, standing, aegis, basket]",[],Bastet holding aegis and basket
1,Upper half of a woman from a pair or group statue,met_329768.jpg,[Late Middle Kingdom],Late Dynasty 12-13,Granite,ca. 1850-1650 B.C.,[Upper half of a woman from a pair or group st...,[],Upper half of a woman from a pair or group statue
2,Head from a figure of Osiris,met_329769.jpg,[Late Period],Dynasty 26,Graywacke,ca. 664-525 B.C.,[Head from a figure of Osiris],[],Head from a figure of Osiris
3,Figure of Osiris,met_329771.jpg,[Late Period-Ptolemaic Period],unknown,Cupreous metal,664-30 B.C.,"[figure, Osiris]",[],Figure of Osiris
4,Head and chest of a shabti figure,met_329774.jpg,[Middle Kingdom],late Dynasty 12 to Dynasty 13,Steatite or serpentinite,ca. 1850-1650 B.C.,[Head and chest of a shabti figure],[],Head and chest of a shabti figure
...,...,...,...,...,...,...,...,...,...
14891,Dress,met_85658.jpg,[],unknown,"Cotton, metal wrapped thread",19th century,[Dress],[],Dress
14892,Dress,met_85659.jpg,[],unknown,"Cotton, metal wrapped thread",19th century,[Dress],[],Dress
14893,Figure of a rearing cobra with feline head,met_857670.jpg,[Late Period - Ptolemaic Period],unknown,Bronze or cupreous alloy,664-30 B.C.,[Figure of a rearing cobra with feline head],[],Figure of a rearing cobra with feline head
14894,Gold foil fragments,met_905798.jpg,[New Kingdom],Dynasty 18,Gold leaf,ca. 1550-1295 B.C.,[gold foil fragments],"[Dra Abu el-Naga, Upper Egypt, Thebes]",Gold foil fragments
14895,Unpainted linen fragment,met_905799.jpg,[Ptolemaic Period or Roman Period],unknown,Linen,100 B.C.-100 A.D.,[Shroud fragment],[],Unpainted linen fragment

### Rosi Museum

In [2545]:
df_rosi.columns

Index(['Unnamed: 0', 'Title', 'Culture', 'Dynasty', 'Date', 'Period',
       'Material', 'object_Type', 'Path'],
      dtype='object')

In [2546]:
df_rosi["Culture"].value_counts()

Culture
Egyptian        733
Mesopotamian     77
Oriental          3
Greek             1
Name: count, dtype: int64

In [2547]:
df_rosi= df_rosi[df_rosi["Culture"] == 'Egyptian']

In [2548]:
df_rosi = df_rosi.drop(columns=['Unnamed: 0', 'Culture'])

In [2549]:
df_rosi['Path'] = df_rosi['Path'].apply(lambda cellvalue: adjust_image_path(cellvalue, "ros"))
df_rosi.head(5)

,Title,Dynasty,Date,Period,Material,object_Type,Path
0,RC-1 - Sekhmet Statue,NaN,332-30 BCE,Ptolemaic,Bronze,Sculpture,ros_789.jpg
1,RC-2 - Harpocrates,NaN,305 - 30 BCE,Ptolemaic,Bronze,Sculpture,ros_931.jpg
2,RC-3 - Osiris,NaN,332 - 31 BCE,Ptolemaic,Bronze,Sculpture,ros_365.jpg
3,RC-4 - Khonsu,NaN,332 - 30 BCE,Ptolemaic,Bronze,Sculpture,ros_774.jpg
4,RC-5 - Apis Bull,NaN,525 - 343 BCE,Late Period,Bronze,Sculpture,ros_913.jpg

In [2550]:
df_rosi= df_rosi.rename(columns={'Title': 'name',  'Path':'path', 'Material':'material', 'Date':'date','object_Type':'object_classification', 'Period':'period', "Dynasty":'dynasty'})

In [2551]:
df_rosi["description"]=None
df_rosi['location'] = None

In [2552]:
df_rosi

,name,dynasty,date,period,material,object_classification,path,description,location
0,RC-1 - Sekhmet Statue,NaN,332-30 BCE,Ptolemaic,Bronze,Sculpture,ros_789.jpg,None,None
1,RC-2 - Harpocrates,NaN,305 - 30 BCE,Ptolemaic,Bronze,Sculpture,ros_931.jpg,None,None
2,RC-3 - Osiris,NaN,332 - 31 BCE,Ptolemaic,Bronze,Sculpture,ros_365.jpg,None,None
3,RC-4 - Khonsu,NaN,332 - 30 BCE,Ptolemaic,Bronze,Sculpture,ros_774.jpg,None,None
4,RC-5 - Apis Bull,NaN,525 - 343 BCE,Late Period,Bronze,Sculpture,ros_913.jpg,None,None
...,...,...,...,...,...,...,...,...,...
819,RC-297 - Ptah,NaN,NaN,NaN,Bronze,Sculpture,ros_221.jpg,None,None
820,RC-251 - Rameses Ii Cartouche Fragment,NaN,NaN,NaN,Granite,Epigraphy,ros_64.jpg,None,None
821,RC-1727 - False Door with Ibis,NaN,NaN,NaN,Limestone,Funerary,ros_536.jpg,None,None
822,RC-5187 - Scarab,13TH,1784-1668 BCE,2nd Intermediate,Faience,Amulets,ros_863.jpg,None,None
823,RC-5195 - Wedjat Eye,18TH,1570-1293 BCE,New Kingdom,Faience,Amulets,ros_337.jpg,None,None

## Combine
- () Separate period into period and dynasty

In [2553]:
# Get the symmetric differences between the sets of column names
columns_difference = set(df_met.columns).symmetric_difference(df_british.columns).symmetric_difference(df_global.columns).symmetric_difference(df_rosi.columns)

# Display the columns that are different between the DataFrames
print("Columns that are different between the DataFrames:", columns_difference)

Columns that are different between the DataFrames: set()

In [2554]:
df_all = pd.concat([df_british, df_global, df_met, df_rosi], ignore_index=True)

In [2555]:
df_all

,name,object_classification,date,description,material,dynasty,path,location,period
0,statue,['statue'],NaN,Red granite statue of recumbent lion: the ins...,red granite,18th Dynasty (sculpture),bri_X__999.jpg,None,None
1,sarcophagus; bath-tub(re-use); religious/ritua...,"[' sarcophagus ', ' bath-tub (re-use) ', ' rel...",345BC (circa),Conglomerate sarcophagus of Nectanebo II (Nak...,conglomerate,30th Dynasty,bri_Y_EA1.jpg,None,None
2,papyrus,['papyrus'],NaN,"Papyrus, Book of the Dead for unnamed person,...",papyrus,Third Intermediate,bri_Y_EA10.jpg,None,None
3,papyrus,['papyrus'],NaN,"Papyrus, Book of the Dead for unnamed person,...",papyrus,Third Intermediate,bri_Y_EA10000-1.jpg,None,None
4,papyrus,['papyrus'],NaN,"Papyrus from the Book of the Dead of Tameniu,...",papyrus,Third Intermediate,bri_Y_EA10000-2.jpg,None,None
...,...,...,...,...,...,...,...,...,...
54741,RC-297 - Ptah,Sculpture,NaN,None,Bronze,NaN,ros_221.jpg,None,NaN
54742,RC-251 - Rameses Ii Cartouche Fragment,Epigraphy,NaN,None,Granite,NaN,ros_64.jpg,None,NaN
54743,RC-1727 - False Door with Ibis,Funerary,NaN,None,Limestone,NaN,ros_536.jpg,None,NaN
54744,RC-5187 - Scarab,Amulets,1784-1668 BCE,None,Faience,13TH,ros_863.jpg,None,2nd Intermediate
54745,RC-5195 - Wedjat Eye,Amulets,1570-1293 BCE,None,Faience,18TH,ros_337.jpg,None,New Kingdom

In [2556]:
df_all.to_csv("trial_cleaning1.csv")

In [2557]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54746 entries, 0 to 54745
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   50373 non-null  object
 1   object_classification  54678 non-null  object
 2   date                   19351 non-null  object
 3   description            49007 non-null  object
 4   material               54731 non-null  object
 5   dynasty                36684 non-null  object
 6   path                   54746 non-null  object
 7   location               30805 non-null  object
 8   period                 31380 non-null  object
dtypes: object(9)
memory usage: 3.8+ MB

### `1. Name`

In [2558]:
def clean_column(column):
    # Convert to lowercase
    column = column.str.lower()

    # Remove anything within brackets
    column = column.str.replace(r'\(.*\)', '', regex=True)

    # Remove commas and semicolons
    column = column.str.replace('[,;]', '', regex=True)

    column = column.str.replace('[/]', ' ', regex=True)

    return column

# Example usage:
df_all['name'] = clean_column(df_all['name'])

### `2. Object Classification`
for later => try to collect similar items or synonymns together

In [2559]:
df_all['object_classification'].value_counts()

object_classification
['shabti']                        2736
['papyrus']                       2445
['ostracon']                      2443
figurine                          1432
[Textile fragment]                1424
                                  ...
[Necklace,  beads and amulets]       1
[Beads,  lentoid]                    1
[Scarab,  bolti fish,  lotus]        1
[Kohl Tube,  stick]                  1
Architecture                         1
Name: count, Length: 7254, dtype: int64

In [2560]:
import ast  # For literal_eval function
def clean_and_extract_first_value(column):
    # Convert to lowercase
    column = column.str.lower()

    # Convert string representations of lists to actual lists
    column = column.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) and '[' in x else x)

    # If the cell is a list, take only the first value
    column = column.apply(lambda x: x[0] if isinstance(x, list) else x)

    # Remove anything within brackets
    column = column.str.replace(r'\(.*\)', '', regex=True)

    # Remove leading and trailing spaces
    column = column.str.strip()

    return column

# Example usage:
# Assuming df is your DataFrame and 'YourColumn' is the column you want to clean
df_all['object_classification'] = clean_and_extract_first_value(df_all['object_classification'])

In [2561]:
x = df_all['object_classification'].value_counts().sort_index()
#x.to_csv("object_trial.csv")

### `3. date`
- combine similar and dates and synon.

In [2562]:
df_all['date'].value_counts()

date
ca. 1390-1352 B.C.     1026
ca. 1479-1458 B.C.      749
ca. 1981-1640 B.C.      552
ca. 1550-1295 B.C.      484
ca. 2030-1640 B.C.      430
                       ...
400BC-200AD (?)           1
10thC-14thC               1
1stC BC-3rdC(early)       1
1stC BC-19thC             1
1784-1668 BCE             1
Name: count, Length: 2471, dtype: int64

In [2563]:
y =df_all['date'].value_counts().sort_index()
#y.to_csv("date_trial.csv")

In [2564]:
import pandas as pd
import re

def clean_date(cell):
    # Check if the cell is a valid string
    if isinstance(cell, str):
        # Remove "ca." and "."
        cleaned_cell = re.sub(r'ca\.|\.', '', cell)
        
        # Remove brackets and what they contain
        cleaned_cell = re.sub(r'\([^)]*\)', '', cleaned_cell)
        
        # Replace "bce" with "bc"
        cleaned_cell = cleaned_cell.replace('BCE', 'BC')
        # Make all lowercase
        cleaned_cell = cleaned_cell.lower()

        # Replace "bce" with "bc"
        cleaned_cell = cleaned_cell.replace('bce', 'bc')

        # Replace "bce" with "bc"
        cleaned_cell = cleaned_cell.replace(' - ', '-')
        
        # Remove leading and trailing spaces
        cleaned_cell = cleaned_cell.strip()
        
        return cleaned_cell
    else:
        return cell  # Return the original value if not a string

# Apply the function to the specified column
df_all['date'] = df_all['date'].apply(clean_date)

In [2565]:
y =df_all['date'].value_counts().sort_index()
#y.to_csv("date_trial.csv")

In [2566]:
y

date
0 -400                         1
0-100 ce                       1
0-199 ce                       1
0-400                          1
00-99 ce                       1
                              ..
second half 4th century        1
second half of 12th century    1
shortly after 1285             1
uncertain                      2
unknown                        7
Name: count, Length: 2067, dtype: int64

### `4. Description`

In [2567]:
# Example usage:
df_all['description'] = clean_column(df_all['description'])

### `5. material`

In [2568]:
y =df_all['material'].value_counts().sort_index()
#y.to_csv("material_trial.csv")

In [2569]:
y

material
 acacia wood           6
 acacia wood (?)      12
 agate                 2
 agate (?)             1
 amethyst              7
                    ...
wood, gesso            1
wood, paint            2
wool                 136
wool (?)               1
yellow quartzite       4
Name: count, Length: 1854, dtype: int64

In [2570]:
def clean_matrial_dynasty(column):
   # Remove content within parentheses
    column = column.str.replace(r'\([^)]*\)', '', regex=True)
    
    # Remove question marks
    column = column.str.replace('?', '')

     # Remove question marks
    column = column.str.replace('"', '')
    
    # Take only the first value if there is a cell with ","
    column = column.str.split(',').str[0]
    # Remove question marks
    column = column.str.replace('"', '')

    # Remove question marks
    column = column.str.replace(' )', '')


    # Remove leading and trailing spaces
    column = column.str.strip()

    # Convert all letters to lowercase
    column = column.str.lower()
    
    return column
# Example: Apply the function to a specific column in your DataFrame
df_all['material'] = clean_matrial_dynasty(df_all['material'])

In [2571]:
y = df_all['material'].value_counts().sort_index()
#y.to_csv("material_trial2.csv")

In [2572]:
y

material
09.184.214: papyrus       1
acacia                   13
acacia wood              54
aeolian sandstone         1
african rosewood          1
                         ..
yellow glass              5
yellow jasper or opal     1
yellow limestone          2
yellow quartzite          7
zizyphus wood             1
Name: count, Length: 730, dtype: int64

### `6. dynasty`

In [2573]:

y = df_all["dynasty"].value_counts().sort_index(ascending=False)
#y.to_csv("dynasty_trial.csv")

In [2574]:
y

dynasty
unknown                    5410
research for eighteenth       1
probably mid-Dynasty 18       1
mid-or late Dynasty 26        1
mid-Dynasty 18                3
                           ...
 17th Dynasty                 1
 12th Dynasty (late)          1
 12th Dynasty (?)             3
 12th Dynasty                 2
 11th Dynasty (?)             4
Name: count, Length: 916, dtype: int64

In [2575]:
df_all['dynasty'] = clean_matrial_dynasty(df_all['dynasty'])

In [2576]:
y = df_all["dynasty"].value_counts().sort_index(ascending=False)
#y.to_csv("dynasty_trial2.csv")
y

dynasty
x-group culture                21
unknown                      5410
umayyad dynasty                 1
third intermediate            596
terminal christian period       6
                             ...
11 - 12 th                      1
1 or 2                          1
1 - 2nd                         2
1                               1
- 20th                          1
Name: count, Length: 363, dtype: int64

### `7. location`

In [2577]:
df_all["location"]

0        None
1        None
2        None
3        None
4        None
         ...
54741    None
54742    None
54743    None
54744    None
54745    None
Name: location, Length: 54746, dtype: object

In [2578]:

def clean_location(cell):
    if cell is None:
        return None  # Return None for NaN or None values

    if isinstance(cell, list):
        cell = str(cell)

    # Remove occurrences of "near", "probably", "possibly"
    cell = re.sub(r'\b(?:near|probably|possibly)\b', '', cell, flags=re.IGNORECASE)

    # Remove brackets and their contents
    cell = re.sub(r'\[.*?\]', '', cell)
    cell = re.sub(r'\{.*?\}', '', cell)
    cell = re.sub(r'\(.*?\)', '', cell)

    # Remove double quotes
    cell = cell.replace('"', '')

    # Remove extra spaces at the beginning and end
    cell = cell.strip()

    return cell
  
# Apply the function to the specified column
df_all['location'] = df_all['location'].apply(clean_location)

In [2579]:
dd = df_all["location"].value_counts().sort_index(ascending=False)
#dd.to_csv("location_trial2.csv")

In [2580]:
dd

location
zawyet el-amwat         1
zagazig                 2
workers' village        1
western valley          2
wannina                 2
                    ...
abu rauwash            15
abu ghurab             11
abkanarti              49
ab`adiyeh               3
                    14896
Name: count, Length: 213, dtype: int64

### `8. period`

In [2581]:
df_all["period"].value_counts()

period
[]                                                3371
late period                                       2052
[Middle Kingdom]                                  1604
new kingdom                                       1475
unknown                                           1438
                                                  ...
[reign of Djoser, Old Kingdom]                       1
[Third Intermediate Period-early Dynasty 26]         1
[reign of Unis or slightly later, Old Kingdom]       1
[reign of Khufu or Khafre, Old Kingdom]              1
Arab Conquest                                        1
Name: count, Length: 752, dtype: int64

In [2582]:
# Apply the function to the specified column
def process_period(cell):
    if isinstance(cell, list):
        cell = ' '.join(map(str, cell))  # Convert list to string
    if isinstance(cell, str):
        # Remove brackets, double quotes, and make everything lowercase
        cell = cell.replace('[', '')
        cell = cell.replace(']', '')
        cell = cell.replace('"', '')
        cell = cell.lower()
        cell = cell.strip()
    return cell

# Apply the function to the specified column
df_all['period'] = df_all['period'].apply(process_period)

In [2583]:
dd = df_all["period"].value_counts().sort_index(ascending=False)
#dd.to_csv("period_trial2.csv")

#### What is left 
1. normalize all the unkown => unknown, nan, '' , ? , uncertain etc. to all be the same
2. combine the similar words into one further to decrease the classes

In [2584]:
df_all.to_csv("trial_cleaning2.csv")